<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141373699-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-141373699-1', {'allow_ad_personalization_signals': false, 'anonymize_ip': true});
    </script>

    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/social.css">
</head>
<body>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <!--        <li><a href="/about">About</a></li>-->
        <li><a href="/cv">CV</a></li>
        <!-- <li><a href="/blog">Blog</a></li> -->
    </ul>
</nav>

{{ content }}

<footer>
    <!--    <div class="container">-->
    <!--        <div class="row">-->
    <!--            <h4>Please share if you liked</h4>-->
    <!--            <div>-->
    <!--                <ul class="social-network social-circle">-->
    <!--                    <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>-->
    <!--                    <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>-->
    <!--                    <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>-->
    <!--                </ul>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <div class="container">
        <div class="row">
            <h4>You may support my work</h4>
            <div>
                <ul class="social-network social-circle">
                    <li><a target="_blank" href="https://www.patreon.com/DanTheLion" class="icoPatreon"><i
                            class="fa fa-patreon"></i></a></li>
                </ul>
<!--                <svg width="569px" height="546px" viewBox="0 0 569 546" version="1.1"-->
<!--                     xmlns="http://www.w3.org/2000/svg">-->
<!--                    <title>Patreon logo</title>-->
<!--                    <a target="_blank" href="https://www.patreon.com/DanTheLion" class="icoPatreon"><i-->
<!--                            class="fa patreon"></i></a>-->
<!--                    <g>-->
<!--                        <circle data-color="1" id="Oval" cx="362.589996" cy="204.589996" r="204.589996"></circle>-->
<!--                        <rect data-color="2" id="Rectangle" x="0" y="0" width="100" height="545.799988"></rect>-->
<!--                    </g>-->
<!--                </svg>-->
            </div>
        </div>
    </div>
</footer>
</body>

</html>